body {
    background: #FFF;
}

a:hover {
    text-decoration: none;
}

.container {
    background: #FFF;
    margin: 0 auto;
    width: 800px;
}

#header {
    text-align: center;
    background: none;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 20px;
    color: #777;
}


h3, h4, h5 {
    margin-top: 16px;
    font-weight: bold;
}

h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    margin-top: 32px;
    padding-bottom: 2px;
    border-bottom: 1px solid #DDD;
}

h4 {
    font-size: 1.2em;
    padding-bottom: 2px;
    border-bottom: 1px solid #DDD;
}

h5 {
    font-size: 1.1em;
}

.plastic-js {
    /*border: 1px solid rgba(0, 0, 0, 0.04);*/
    /*padding: 3px;*/
    display: block;
}

pre {
    border: none;
    padding: 0;
    border-radius: 5px;
    background: #f8f8f8;
}

code.hljs {
    font-weight: normal;
    padding: 0 16px;
    font-size: 0.85em;
}

.smaller-font {
    font-size: 0.85em;
}

footer {
    font-size: 0.85em;
    color: #777;
    text-align: center;
    margin-top: 20px;
    padding: 3px;
    border-top: 1px dotted #CCC;
}
