h1 {
    margin: 16px 0 8px 0;
    text-align: center;
    text-transform: uppercase;
}

h2, h3, h4, h5 {
    margin: 16px 0 4px 0;
}

h2 {
    margin: 16px 0 8px 0;
    border-bottom: 1px dotted #CCC;
}

hr {
    margin: 8px 0;
    border-top: 1px dashed #e1e4e5;
}
.wy-breadcrumbs {
    color: #777;
    font-size: 0.85em;
}

.wy-breadcrumbs a {
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 2px 4px !important;
    color: #555;
}

.wy-nav-content {
    padding: 1em 2.4em;
}

.contentinfo {
    font-size: 0.85em;
}

.property-description {
    background: #EEE;
    padding: 4px 8px;
    border-radius: 3px;
    margin: 8px 0;
}

.property-description h4 {
    margin: 2px 0 8px 0;
}

.table {
    border-radius: 3px;
}

tr {
    border: 1px solid #EEE;
    background: #FFF;
}
td {
    border: 1px solid #EEE;
    padding: 2px 8px;
}

pre.highlight {
    /*border: 1px solid #CCC;*/
    font-size: 0.85em;
    background: #FFF;
    padding: 4px 8px;
    margin: 8px 0;
    border-radius: 3px;
    color: #777;
}

.highlight-html {
    border-radius: 3px;
}

.plastic-js {
    font-size: 0.8em;
}
#rtd-search-form input {
    border-radius: 0 !important;
}

/* Plasticjs Header */
#plasticjs-header {
    position: fixed;
    z-index: 999;
    height: 42px;
    background: #FFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    overflow: hidden;
}

#plasticjs-header h1 {
    display: inline;
}


#plasticjs-header .description {
    display: inline;
    color: #999;
    font-size: 1rem;
}

#plasticjs-header img {
    margin-left: 8px;
    width: 120px;
    height: 35px;
}

.wy-grid-for-nav, nav.stickynav {
    top: 42px;
}
