body {
    background: #FFF;
}

.container {
    background: #FFF;
    margin: 0 auto;
    padding: 15px;
    width: 800px;
}

#header {
    text-align: center;
    background: #eee;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 20px;
}

plastic {
    border: 1px solid #CCC;
    display: block;
}
code {
    font-weight: normal;
}

pre {
    border: none;
}
