.plastic-js, plastic {
    position: relative;
}

.plastic-js-display {
    overflow: auto;
}

.plastic-js-messages {
    position: absolute;
    top: 0;
    left: 0;
}
.plastic-js-messages .plastic-js-msg {
    display: block;
    height: auto;
    padding: 2px 4px;
    margin: 8px 24px 8px 8px;
    overflow: hidden;
    border-radius: 3px;
    font-size: 0.85em;
}

.plastic-js-messages .plastic-js-msg-error {
    background: #F6CECE;
    color: #B31818;
    border: 1px solid #B31818;
}
