.plastic-js {
    position: relative;
}

.plastic-js-display {
    overflow: auto;
}

/* hide plastic data elements */
.plastic-js .plastic-display,
.plastic-js .plastic-query,
.plastic-js .plastic-options {
    display: none;
}

.plastic-js-messages {
    position: absolute;
    z-index: 8888;
    background: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
}
.plastic-js-messages .plastic-js-msg {
    display: block;
    height: auto;
    padding: 2px 4px;
    margin: 8px 24px 8px 8px;
    overflow: hidden;
    border-radius: 3px;
    font-size: 0.85em;
}

.plastic-js-messages .plastic-js-msg-error {
    background: #F6CECE;
    color: #B31818;
    border: 1px solid #B31818;
}

.plastic-js-info {
    font-size: 0.8em;
    margin-top: 4px;
    padding: 2px 4px;
    border-top: 1px dotted #CCC;
    color: #777;
    display: block;
}


/* Loading Box */
div.loading {
    width: 100%;
    height: 100%;
    -moz-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.08);
}
.spinner {
    height:32px;
    width:32px;

    margin: 4px auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    -webkit-animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear;
    -o-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
    border-top: 4px solid #B400C5;
    border-right: 4px solid #2758B5;
    border-bottom: 4px solid #42A0A1;
    border-left: 4px solid #A0D349;
    border-radius:100%;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
