body {
    background: #FFF;
}

a, a:visited {
    color: #367FC6;
}

a:hover {
    color: #670097;
}

a.btn {
    color: #000;
}

a:hover {
    text-decoration: none;
}

#logo {
    max-width: 360px;
    width: 100%;
}

.container-fluid {
    max-width: 720px;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 0.4rem;
    border-bottom: 1px solid #CCC;
    text-transform: uppercase;
    font-family: 'Titillium Web', "Arial", sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    /*text-align: center;*/
    color: #777;
}

h3, h4 {
    margin: 16px 0 4px 0;
    color: #999;
    font-family: 'Titillium Web', "Arial", sans-serif;
    font-weight: 300;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

header {
    margin-bottom: 24px;
}

header h1 {
    margin-bottom: 4px;
}

header h3 {
    margin-top: 0;
}

.top-menu {

}

.top-menu i {
    color: #333;
}

.gallery {
    text-align: center;
    margin: 16px 0;
}

.gallery-item {
    position: relative;
    width: 220px;
    height: 140px;
    border: 1px solid #DDD;
    margin: 0 4px 8px 4px;
    border-radius: 3px;
    display: inline-block;
    padding: 2px;
    overflow: hidden;
}

.gallery-item img {
    border: 0;
    width: 100%;
    height: 100%;
}

.gallery-item:hover {
    opacity: 0.7;
}

.gallery-item .description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2px 4px;
    text-align: center;
    font-size: 0.8em;
    color: #FFF;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

pre {
    padding: 0;
    border: none;
}

.hljs {
    padding: 8px 12px;
}

footer {
    font-size: 0.85em;
    color: #777;
    text-align: center;
    margin-top: 20px;
    padding: 3px;
    border-top: 1px dotted #CCC;
}


/* Plasticjs Header */
#plasticjs-header * {
    margin: 0;
    padding: 0;
}
#plasticjs-header {
    position: fixed;
    z-index: 999;
    height: 42px;
    background: #FFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    overflow: hidden;
}
#plasticjs-header .description {
    display: inline;
    color: #999;
    font-family: Arial, sans-serif;
    font-size: 12px;
}
#plasticjs-header .description a {
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 3px 6px !important;
    color: #777;
    background: #FFF;
}
#plasticjs-header .description a.active {
    border: 1px solid #BBB;
    background: #EEE;
}
#plasticjs-header .description a:hover {
    text-decoration: none;
    background: #EEE;
}
#plasticjs-header img {
    margin: 4px 8px;
    width: 120px;
    height: 35px;
}

/* Move Content down */
.container-fluid {
    padding-top: 42px;
}
